*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ServiceAsAService/target/
/ServiceAsAService/src/main/java/com/cebedo/serviceasaservice/sample/nbproject/private/
/ServiceAsAService/src/main/java/com/cebedo/serviceasaservice/sample/build/
/ServiceAsAService/src/main/java/com/cebedo/serviceasaservice/sample/dist/
/plugin/saas-plugin/nbproject/private/
/plugin/saas-plugin/dist/
/plugin/saas-plugin/build/
/sample/saas-plugin-sample/nbproject/private/
/plugin/nbproject/private/
/plugin-sample/nbproject/private/
/plugin/build/
/plugin/dist/
/plugin-sample/build/
/plugin-sample/dist/
/plugin-impl/nbproject/private/
/plugin-impl/build/
/plugin-impl/dist/
/server/target/